
<footer class="footer bg-light bg-gradient">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 py-3 d-flex align-items-center justify-content-start">
                <p class="mb-0">
                    <a href="#" class="text-muted">
                        <strong>HRSync</strong>
                    </a>
                </p>
            </div>
            <div class="col-6 py-3 d-flex align-items-center justify-content-end">
                <p class="mb-0 text-muted">
                    © Powered by Tharushi
                </p>
            </div>
        </div>
    </div>
</footer>