<div class="container p-5 my-5 border">
    <div class="row">
        <div class="col-12 col-md-10">
            <h2>payroll</h2>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">+ process payroll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-md-12 dropdown d-flex justify-content-end p-2 border">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Advanced Filter
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#"></a></li>
                    <li><a class="dropdown-item" href="#"></a></li>
                </ul>
            </div>
            <div class="table col-md-12 d-flex align-items-center justify-content-center">
                <table class="table table-striped table-responsive table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>PayrollID</th>
                            <th>Processed Date</th>
                            <th>Month</th>
                            <th>Total Salary</th>
                            <th>Status</th>
                            <th>Approved Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>002</td>
                            <td>2024.04.28</td>
                            <td>March</td>
                            <td>65000.00</td>
                            <td>Processed</td>
                            <td>
                                <div class="dropdown d-flex align-items-center justify-content-center ">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Status
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Approved</a></li>
                                        <li><a class="dropdown-item" href="#">Rejected</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm d-flex align-items-center justify-content-center">
                                    <button class="btn btn-primary" id="ViewEmp"><i class="fa fa-eye"></i></button>
                                    <button class="btn btn-default" id="EditEmp"><i class="fa fa-pencil"></i></button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" id="DeleteEmp"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>2024.04.28</td>
                            <td>March</td>
                            <td>65000.00</td>
                            <td>Processed</td>
                            <td>
                                <div class="dropdown d-flex align-items-center justify-content-center">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Status
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Approved</a></li>
                                        <li><a class="dropdown-item" href="#">Rejected</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm d-flex align-items-center justify-content-center">
                                    <button class="btn btn-primary" id="ViewEmp"><i class="fa fa-eye"></i></button>
                                    <button class="btn btn-default" id="EditEmp"><i class="fa fa-pencil"></i></button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" id="DeleteEmp"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>2024.04.28</td>
                            <td>March</td>
                            <td>65000.00</td>
                            <td>Processed</td>
                            <td>
                                <div class="dropdown d-flex align-items-center justify-content-center">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Status
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Approved</a></li>
                                        <li><a class="dropdown-item" href="#">Rejected</a></li>
                                    </ul>
                                </div>
                             </td>
                            <td>
                                <div class="btn-group btn-group-sm d-flex align-items-center justify-content-center ">
                                    <button class="btn btn-primary" id="ViewEmp"><i class="fa fa-eye"></i></button>
                                    <button class="btn btn-default" id="EditEmp"><i class="fa fa-pencil"></i></button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" id="DeleteEmp"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
