


    <div class="container p-5">
        <div class="row mb-2">
            <div class="col-10 d-flex align-items-center justify-content-start">
            <div class="btn-group" id="newUser" type="button">
                <button type="button" class="btn btn-primary">All</button>
                <button type="button" class="btn btn-primary">Pending</button>
                <button type="button" class="btn btn-primary">Approved</button>
                <button type="button" class="btn btn-primary">Rejected</button>
            </div>
            </div>
            <div class="col-2 p-3">
            <button type="button" class="btn btn-primary">Create user</button>
            </div>
        </div>
        <div class="row align-items-start">
            <table class="table table-striped table-responsive table-bordered table-hover"> 
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">DOB</th>
                        <th scope="col">JobTitle</th>
                        <th>Department</th>
                        <th scope="col">AddedBy</th>
                        <th scope="col">AddedTime</th>
                        <th scope="col">UpdatedBy</th>
                        <th scope="col">UpdatedTime</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">Action</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>
                        <div class="dropdown d-flex align-items-center justify-content-center ">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Department
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">SE</a></li>
                                <li><a class="dropdown-item" href="#">CS</a></li>
                            </ul>
                        </div>
                        </td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" id="ViewEmp"><i class="fa fa-eye"></i></button>
                                <button class="btn btn-default" id="EditEmp"><i class="fa fa-pencil"></i></button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" id="DeleteEmp"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div class="btn-group-sm" id="newUser" type="button">
                            <button class="btn btn-success" id=""><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger" id=""><i class="fa fa-times"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>
                        <div class="dropdown d-flex align-items-center justify-content-center ">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Department
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">SE</a></li>
                                <li><a class="dropdown-item" href="#">CS</a></li>
                            </ul>
                        </div>
                        </td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary"><i class="fa fa-eye"></i></button>
                                <button class="btn btn-default"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                </tbody>
            </table>
        </div>
 
